Django==1.6
GDAL
Pillow
Pygments
South
argparse
diff-match-patch
dj-database-url
dj-static
django-appconf
django-filebrowser
django-geoposition
django-grappelli
django-leaflet
django-toolbelt
djangorestframework
docutils
geopy
gunicorn
psycopg2
pystache
requests
six
static
tablib
vboxapi
virtualenv
wsgiref
